body {
  background-color: #111;
  color: white;
  font-family: Arial, Helvetica, sans-serif;

}

#menu {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

ul  > a{
  text-decoration: none;
  color: white;
  font-size: 20px;

}

ul > a:hover{
  color: #5BBE42;

}
header img {
  border: 1px solid #5BBE42;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

p{
  text-align: justify;
}
.center{
  text-align: center;
  
}

h1{
  color: #5BBE42;
}
footer{
  display: flex;
  justify-content: center;
}
footer img {
  width: 60px;
  height: 60px;
}



footer a{
  margin: 20px;
  text-align: center;
  text-decoration: none;
  color: white;
}

footer a:hover{
  color: #5BBE42;
}

footer p{
  margin: 2px;
}
.container{
  padding: 0px 50px;

  
}

#linkedin{
  width: 48px;
}
/*Pagina projeto*/
#titulo{
  text-align: center;
}
#subtitulo{
  text-align: center;
}